
<div class="container">
    <div class="header">
        <h2>About</h2>
        <h1 id="firm-name">Gokul Mills</h1>
    </div>
    <div class="wrapper">
        <div class="title">
            <p id="p1">Our firm</p>
            <p id="p2">Established in the year 1991..</p>
        </div>
        <div class="firm_content">
            <p>
                Gokul Mills was established in the year 1991. We are the leading manufacturer and supplier of Super White Bran and Natural Feed. We are one step ahead of our competitor in Manufacturing and supplying with ISO 9001:2015 certified. Gokul Mills Fodder and bran have been manufactured for 3 years with natural and unadulterated ISO certification.
            </p>
        </div>
    </div>

    <div>
        <!-- <div> -->
            <img src="assets/images/scene.jpg" alt="" id="fixed-image">
        <!-- </div> -->
    </div>

    <div class="wrapper">
        <div class="title" id="why_us">
            <p id="p3">Why us?</p>
            <p id="p4">Some reasons to choose us..</p>
        </div>
        <div class="content">
            <ul>
                <li>Our bran and fodder are high quality, balanced and non-toxic animal feed for higher and quality milk production.</li>
                <li>Our products are enriched with Crude fat, crude protein, crude fibre and essential Vitamins and Minerals.</li>
                <li>Easily digestible protein and '9' natural mineral salt are present in our products.</li>
                <li>Balanced fodder rich in vitamin (A, B, C, D) and calcium for cattle.</li>
                <li>Enhances the health and proper breeding power of livestock.</li>
                <li>Our bran and fodder provide the complete energy, proteins, fats, carbohydrates, minerals '9' type vitamins, calcium and many more needed for livestock.</li>
            </ul> 
        </div>
        
    </div>
</div>



