<div id="intro_div">
    <h1>Gokul Mills</h1>
    <h5>Manufacturer and supplier of Super White Bran and Natural Feed</h5>
    <p>ISO 9001:2015 certified</p>
    <!-- <button id="btn_contact" type="button" class="btn btn-warning">Contact Us</button> -->
    <button class="btn_contact" routerLink="/contact" routerLinkActive="active">Contact Us..</button>
</div>

<div class="container" id="why_us">
    <h1>Why Us?</h1>
    <p>We are one step ahead of our competitor in Manufacturing and supplying with ISO 9001:2015 certified. Gokul Mills Fodder and bran have been manufactured for 3 years with natural and unadulterated ISO certification.</p>
    <div class="row" style="padding-top: 20px;">
        <div class="col" style="text-align:center;">
            <div class="card_div">
                <img src="assets/images/quality_sym.png" alt="">
                <h4>High Quality</h4>
                <p>Balanced fodder rich in vitamin and calcium</p>
            </div>
        </div>
        <div class="col" style="text-align:center;">
            <div class="card_div">
                <img src="assets/images/milk_sym.png" alt="">
                <h4>More Milk</h4>
                <p>Balanced feed for higher and quality milk production</p>
            </div>
        </div>
        <div class="col" style="text-align:center;">
            <div class="card_div">
                <img src="assets/images/profit1.png" alt="">
                <h4>High Profit</h4>
                <p>Quality and non-toxic bran and fodder for quality milk</p>
            </div>
        </div>
    </div>
    <button class="btn_more" routerLink="/whyus" routerLinkActive="active">More Info..</button>
</div>

<div class="galler-section">
    <div class="container" id="gallery">
        <h1>Gallery</h1>
        <img src="assets/images/cow1.jpg" alt="">
        <img src="assets/images/cow2.jpg" alt="">
        <img src="assets/images/feeds.jpeg" alt="">
        <img src="assets/images/cow2.jpg" alt="">
        <img src="assets/images/cow1.jpg" alt="">
        <img src="assets/images/cow2.jpg" alt="">
        <img src="assets/images/feeds.jpeg" alt="">
        <img src="assets/images/cow2.jpg" alt="">
        <img src="assets/images/feeds.jpeg" alt="">
        <img src="assets/images/cow2.jpg" alt="">
        <img src="assets/images/cow1.jpg" alt="">
        <img src="assets/images/cow2.jpg" alt="">
    </div>
</div>

<div class="contact">
    <div class="container" id="contact-section">
        <h1>Contact</h1>
        <div class="row" >
            <div class="col" style="text-align:center;">
                <div class="card_div" id="address">
                    <!-- <img src="../../../assets/images/quality_sym.png" alt=""> -->
                    <h4>Address</h4>
                    <p>GOKULMILLS<br/>
                        178, LKC NAGAR,<br/>
                        Vellakovil<br/>
                        Tirupur (dt) - 638111<br/>
                        Tamil Nadu
                    </p>
                </div>
            </div>
            <div class="col" style="text-align:center;">
                <div class="card_div" id="phone">
                    <!-- <img src="../../../assets/images/milk_sym.png" alt=""> -->
                    <h4>Phone</h4>
                    <p> +91 - 8220060398<br/>
                        +91 - 9443360398<br/>
                        04258-260398
                    </p>
                </div>
            </div>
            <div class="col" style="text-align:center;">
                <div class="card_div" id="email">
                    <!-- <img src="../../../assets/images/profit1.png" alt=""> -->
                    <h4>Email</h4>
                    <p>info2gokulmills@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
