<div class="container">
    <app-link-bread-crumbs [mainProduct]="mainproduct" [subProduct]="subproduct" [mainProductid]="mainproductid" [subProductid]="subproductid"></app-link-bread-crumbs>
  <br>
    <div class="row justify-content-around">
        <div *ngFor="let product of products">
            <div class="col" style="padding:15px;">
                <div class="card" style="width: 18rem;">
                    <img class="img-thumbnail" [src]="[product.imageUrl]" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{product.product_name}}</h5>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a [routerLink]="[product.link]" [queryParams]="{ get : [product.id] }" class="btn btn-outline-secondary">View details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
