<div class="container">
    <div class="header">
        <h1>Contact</h1>
    </div>
    <div class="wrapper">
        <div class="map">
            <img src="assets/images/map1.jpg" alt="">
        </div>
        <div class="info">
            <div class="address">
                <div class="title">Address</div>
                <div class="details">
                    <p>Gokul Mills</p>
                    <p>178, LKC Nagar,Vellakovil</p>
                    <p>Tirupur (dt) - 638111</p>
                    <p>Tamil Nadu</p>
                </div>
            </div>
            <div class="address">
                <div class="title">Phone</div>
                <div class="details">
                    <p>+91 - 8220060398</p>
                    <p>+91 - 9443360398</p>
                    <p>04258-260398</p>
                </div>
            </div>
            <div class="address">
                <div class="title">E-Mail</div>
                <div class="details">
                    <p>info2gokulmills@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>